@use "sass:math";

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

$base-size: 512; // можно создать переменную для базового значения

.icon_about-section-icon-1 {
  font-size: math.div($base-size, 10) * 1rem;  // 51.2rem
  width: math.div($base-size, $base-size) * 1em;  // 1em
}

.icon_about-section-icon-2 {
  font-size: math.div($base-size, 10) * 1rem;  // 51.2rem
  width: math.div($base-size, $base-size) * 1em;  // 1em
}

.icon_about-section-icon-3 {
  font-size: math.div($base-size, 10) * 1rem;  // 51.2rem
  width: math.div($base-size, $base-size) * 1em;  // 1em
}

.icon_about-section-icon-4 {
  font-size: math.div($base-size, 10) * 1rem;  // 51.2rem
  width: math.div($base-size, $base-size) * 1em;  // 1em
}

.icon_about-section-icon-5 {
  font-size: math.div($base-size, 10) * 1rem;  // 51.2rem
  width: math.div($base-size, $base-size) * 1em;  // 1em
}
