@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@font-face {
    font-family: 'Wood Dragon';
    src: url('/src/fonts/WoodDragon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}